.section {
  position: relative;
  overflow: hidden;
  max-height: 835px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: transform 0.5s ease-out;
}

.nextImage {
  left: 100%;
}

.slideLeft {
  transform: translateX(-100%);
}

.custom-shape-divider-top {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */

}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
}
.process svg {
    height: calc(10% + 1.3px);
}

.solution-top svg {
  height: 92px;
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  height: 42px;
}

/* .hero {
  -webkit-mask-image: url('/herro.svg');
  mask-image: url('/herro.svg');
  -webkit-mask-size: cover;
  mask-size: 60&;
  mask-repeat: no-repeat;
  mask-position: top;
  -webkit-mask-composite: exclude;
  mask-composite: exclude;
  mask-type: luminance;
} */
